.main{
    width: 100%;
    margin: 3rem 0;
    align-items: center;
    display:  flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 100%;
}

.main .leftabout{
    text-align: center;
    margin-top: auto;
    padding: 1.2rem;
    max-width: 750px;
}

.leftabout p{
    margin: 1.5rem 0;
    font-size: 1.1rem;
}

.leftabout .contact-btn{
    padding: 0.7rem;
}

.main .rightabout{
    max-width: 450px;
}

.rightabout .img-container{
    display: grid;
    position: relative;
    align-items: center;
    text-align: center;
}

.rightabout img{
    max-width: 50%;
    border: 1px solid #333;
}
