.contact-main{
    width: 100%;
    margin: 1.5rem 0;
    align-items: center;
    display:  flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 100%;
}

.contact-main h3{
    color: #fff;
    font-size: 2rem;
}

.contact-main .btn-light{
    margin: 1rem;
}
