.footer{
    padding: 1rem 0;
    width: 100%;
    background-color: #161616;
}

.footer-container{
    max-width: 1140px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 40px;

}

.left-part{
    height: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;;
}

.email{
    display: flex;
    margin-bottom: 0.8rem;
}

.email p{
    line-height: 20px;
    font-size: 1rem;
}

.right-part{
    height: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
}

.social{
    margin-top:  0.5rem;
}

.right-part h3{
    color: white;
    padding-bottom: 0.3rem;
}

@media screen and (max-width: 640px){
    .footer-container{
        grid-template-columns: 1fr;
    }
}