.heading{
    text-align: center;
    padding: 3rem 0 2rem 0;
}

.project-container{
    max-width: 1140px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
    padding-bottom: 4rem;
}

.project-card{
    background: #1a1919;
    padding: 2rem 1rem;
}

.card-title{
    color: #fff;
    font-size: 2rem;
    padding: 1rem 0;
}

.card-detail{
    color: #fff;
    font-size: 1rem;
    padding-bottom: 1rem;
    text-align: justify;
}

.card-buttons{
    display: flex;
    padding: 0.5rem 0;
    justify-content: space-between;
}

.card-buttons .btn{
    margin: 3rem 0 0.5rem;
    padding: 0.5rem 1rem;
}

.project-card img{
    width: 100%
}

@media screen and (max-width: 740px){
    .project-container{
        max-width: 90%;
        margin: auto;
        grid-template-columns: 1fr;
    }
}