@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Outfit", sans-serif;
}

body{
  background-color: #000;
}

h1, h4, p, a{
  text-decoration: none;
  color: white;
}

ul{
  list-style-type: none;
}

.btn{
  padding: 12px 32px;
  font-size: 1rem;
  background-color: #9ED5C5;
  color: #222;
  border: 1px solid #fff;
  font-weight: 600;
  cursor: pointer;
}

.btn-light{
  background: transparent;
  color: #fff;
  border: 1px solid #fff;
  font-weight: 600;
  padding: 12px 32px;
}

.btn:hover{
  background-color: transparent;
  color: #fff;
  transition: 0.2s;

}